* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

#access-token {
    padding: 6px 8px;
    border: 1px solid #d3d2d2;
    border-radius: 4px;
    margin: 8px 0px;
}

thead,
td {
    padding:8px 12px;
    text-align: center;
}
#body {
    width:400px;
    max-width: 100%;
    padding:0px 8px;
}
#tds-input {
    display: flex;
    flex-direction: column;

}
#save-tds-wrap {
    width:100%;
    margin:16px 0px;
}

#save-tds {
    width:100%;
    padding:8px 0px;
    border: none;
    border-radius: 8px;
    background-color: rgb(78, 112, 234);
    color:white;
    font-weight: bold;
}

/* style for account tds*/
.thead {
    font-size:16px;
    background-color:green;
    color:white;
    padding:6px 8px;
}

.remove-account {
    cursor: pointer;
}

@media screen and (max-width:780px) {
    #code-generator {
        display: none;
    }
}